@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
  --font-serif: 'Lora', serif;

  --color-primary-50: oklch(0.958 0.019 279.58);
  --color-primary-100: oklch(0.906 0.043 278.28);
  --color-primary-200: oklch(0.822 0.085 277.74);
  --color-primary-300: oklch(0.73 0.132 274.55);
  --color-primary-400: oklch(0.646 0.178 270.38);
  --color-primary-500: oklch(0.559 0.227 263.93);
  --color-primary-600: oklch(0.469 0.196 263.1);
  --color-primary-700: oklch(0.38 0.159 263.06);
  --color-primary-800: oklch(0.291 0.122 263.11);
  --color-primary-900: oklch(0.193 0.081 263.01);
  --color-primary-950: oklch(0.106 0.044 260.47);

  --color-gray-elevated: #aab4bf;

  --color-gray-50: #f4f6f8;
  --color-gray-100: #e6eaee;
  --color-gray-200: #cfd6dd;
  --color-gray-300: var(--color-gray-elevated);
  --color-gray-400: #7f8c99;
  --color-gray-500: #5f6b78;
  --color-gray-600: #49525c;
  --color-gray-700: #383f47;
  --color-gray-800: #262b31;
  --color-gray-900: #181c20;
  --color-gray-950: #0f1215;
}

html,
body,
#__nuxt {
  @apply bg-primary-950 m-0 p-0 font-sans text-gray-50;
}

.prose {
  @apply max-w-4xl;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  p {
    @apply font-serif leading-[1.7];
  }

  a {
    @apply text-primary-600 hover:text-primary-700;
  }

  ul {
    li {
      @apply list-outside list-disc marker:text-slate-300;
    }
  }
}

.px-main {
  @apply px-4 md:px-8;
}
