@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-brand: #0c2dff;
  --color-brand-alt: #7c3aed;

  --color-gray-50: #f3f4f5;
  --color-gray-100: #e4e5e8;
  --color-gray-200: #cccfd5;
  --color-gray-300: #b1b6c0;
  --color-gray-400: #9aa1ad;
  --color-gray-500: #828995;
  --color-gray-600: #6f757f;
  --color-gray-700: #5a5f67;
  --color-gray-800: #474b52;
  --color-gray-900: #26282c;
  --color-gray-950: #16181b;

  --color-elevated: var(--color-gray-300);

  --color-default: var(--color-gray-500);

  --color-muted: var(--color-gray-900);

  /* Font sizes */
  --text-2.5xl: 1.625rem;
}

html,
body,
#__nuxt {
  @apply m-0 min-h-screen bg-black p-0 font-sans text-gray-50;
}

a {
  @apply transition-colors;
}

.prose {
  @apply max-w-4xl;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  p {
    @apply text-elevated font-sans leading-[1.75] font-light;
  }

  a {
    @apply hover:text-brand text-gray-50;
  }

  ul {
    li {
      @apply list-outside list-disc marker:text-slate-300;
    }
  }
}

.px-main {
  @apply px-4 md:px-8;
}

.py-main {
  @apply py-4 md:py-8;
}
