@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-sans: 'DM Sans', sans-serif;
  --font-serif: 'Yeseva One', serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-brand: #0055ff;
  --color-brand-alt: #7c3aed;

  --color-gray-50: #fcfcfd;
  --color-gray-100: #dce3ed;
  --color-gray-200: #bac8db;
  --color-gray-300: #97adca;
  --color-gray-400: #7990ad;
  --color-gray-500: #62768f;
  --color-gray-600: #4d5d71;
  --color-gray-700: #394555;
  --color-gray-800: #262f3a;
  --color-gray-900: #141a21;
  --color-gray-950: #090d12;

  --color-elevated: var(--color-gray-200);

  --color-default: var(--color-gray-300);

  --color-muted: var(--color-gray-800);

  --color-body: var(--color-gray-950);

  /* Font sizes */
  --text-2.5xl: 1.625rem; /* 26px */
  --text-3.5xl: 2.125rem; /* 34px */
  --text-4.5xl: 2.625rem; /* 42px */

  /* Screen sizes */
  --main-max-width: 1280px;

  /* Breakpoints */
  --breakpoint-2lg: 1152px;
}

html,
body,
#__nuxt {
  @apply bg-body m-0 min-h-screen p-0 font-sans text-gray-50 antialiased;
}

a,
button {
  @apply cursor-pointer transition-colors duration-300;
}

.prose,
.prose-sm,
.prose-base,
.prose-lg,
.prose-xl,
.prose-2xl {
  @apply max-w-[80ch];
}

.px-main {
  @apply px-7 sm:px-8 xl:px-12;
}

.py-main {
  @apply py-4 sm:py-8 xl:py-12;
}

.max-w-main {
  @apply mx-auto w-full max-w-(--main-max-width);
}

@utility h-menu {
  @apply h-12 sm:h-16;
}

@utility py-section {
  @apply py-14 lg:py-26;
}
